@use "../../variables" as *;
@use "../../colores" as *;
@use "../../componentes/breakpoints" as *;

.seccion-sobre-nosotros {
  padding: $padding-base * 2;
  background-color: map-get($paleta, "gris-claro");

  .titulo-seccion {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: $margin-base * 2;
    color: $primary;
  }

  .contenedor-tarjetas {
    display: flex;
    justify-content: center;
    gap: $margin-base;
  }

  @include breakpoint(sm) {
    padding: $padding-base;

    .titulo-seccion {
      font-size: 2rem;
    }

    .contenedor-tarjetas {
      flex-direction: column;
      align-items: center;
    }
  }
}
