@use "../../variables" as *;
@use "../../colores" as *;
@use "../../componentes/breakpoints" as *;

.seccion-testimonios {
  padding: $padding-base * 2;
  background-color: map-get($paleta, "gris-claro");

  .titulo-seccion {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: $margin-base * 2;
    color: $primary;
  }

  .contenedor-tarjetas {
    display: flex;
    justify-content: center;
    gap: $margin-base * 2;
    flex-wrap: wrap;
  }
}
