:root {
  /* Paleta de colores */
  --color-primario: #d6c6e8; /* Color principal (complementario) */
  --color-secundario-claro: #9c90c6; /* Color secundario claro */
  --color-secundario-oscuro: #06060e; /* Color secundario oscuro */

  /* Fuentes */
  --fuente-principal: "Montserrat", sans-serif;
  --fuente-secundaria: "Roboto Slab", serif;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.portada {
  background-image: url(/img/portada2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.portada nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.portada nav a {
  flex-shrink: 1;
  font-size: 10px;
}
.portada nav button {
  height: 20px;
  display: none;
}

.primer_titulo {
  margin-top: -40px;
  color: aliceblue;
  font-size: x-large;
}
.container {
  overflow: hidden;
}
.container h1 {
  text-align: center;
}
.informacion {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
}

.informacion article {
  width: 30%;
  margin: 10px;
}
.informacion article span {
  font-size: 30px;
  margin-left: 45%;
}
.informacion h2 {
  text-align: center;
}
.ejemplo_anuncios {
  display: flex;
}
.ejemplo_anuncios article {
  width: 32%;
  background-color: var(--color-secundario-claro);
  margin-left: 10px;
}
#terceraImagen {
  width: 100%;
}
.ejemplo_anuncios section p,
a,
h2 {
  padding: 3%;
}
#verTodos {
  margin-right: 3%;
  margin-left: 80%;
  margin-top: 1rem;
  background-color: var(--color-secundario-oscuro);
  color: var(--color-primario);
  border-radius: 10px;
}
.tusSueños {
  margin: 10px;
  background-image: url(../img/coche\ con\ fondo\ oscuro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-secundario-claro);
}
.tusSueños h2 {
  color: var(--color-primario);
}
.tusSueños::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/coche\ con\ fondo\ oscuro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1; /* Baja la opacidad solo de la imagen */
  z-index: -1;
}
.tusSueños button {
  margin-top: 10px;
  background-color: var(--color-primario);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
}
#blogTestimoniales {
  display: flex;
  flex-direction: row;
  display: flex;

  margin: 10px;
}

#blogTestimoniales article h2 {
  font-size: larger;
  text-align: center;
}
.divBlog {
  display: flex;
  flex-direction: row;
  font-size: medium;
}
.divBlog div {
  font-size: x-small;
  margin-left: 5px;
}
.divBlog img {
  width: 30%;
}
.testimoniales p {
  background-color: var(--color-secundario-oscuro);
  color: var(--color-primario);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.testimoniales button {
  background-color: var(--color-secundario-oscuro);
  color: var(--color-secundario-claro);
  border-radius: 10px;
  padding: 5px;
  width: 70px;
  float: right;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primario);
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  color: var(--color-secundario-oscuro);
}
@media screen and (max-width: 600px) {
  .abrirMenu {
    display: block;
  }
  .portada nav button {
    display: block;
  }
  .portada a {
    display: none;
  }
  .informacion {
    flex-direction: column;
    align-items: center;
  }
  .ejemplo_anuncios {
    flex-direction: column;
    align-items: center;
  }
  .ejemplo_anuncios article {
    margin-bottom: 10px;
  }
  #blogTestimoniales {
    flex-direction: column;
  }
  .portada nav {
    /* display: none; */
    padding: 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-secundario-claro);
  }
}
